@using Opc.Ua.Cloud.Publisher.Models

@model string

@{
    ViewData["Title"] = "UA Edge Translator Configuration";
}

<h1>@ViewData["Title"]</h1>


<div class="container-fluid browser_connect_container">
    <p>
        <B>Open a Web of Things Thing Description JSON LD file and send it to UA Edge Translator via OPC UA (format: opc.tcp://ipaddress:port):</B>
    </p>
    <form method="post" enctype="multipart/form-data" asp-controller="Translator" asp-action="Load">
        <p>

            <input class="btn btn-primary" type="file" name="file">
        </p>
        <p>
            @Html.TextBox("endpointUrl", null, new { style = "width:50%;" })
        </p>
        <p>
            <input id="connectButton" class="btn btn-primary btn_browser" type="submit" value="Send">
        </p>
        <p class="alert alert-light">
            <div class="alert alert-light" id="message">
                @Model
            </div>
        </p>
    </form>
</div>

