@using Opc.Ua.Cloud.Publisher.Models

@model string

@{
    ViewData["Title"] = "UA Edge Translator Configuration";
}

<h1>@ViewData["Title"]</h1>


<div class="container-fluid browser_connect_container">
    <p>
        <B>
            You can use ChatGPT to generate a Web of Things Thing Description for the asset you want to configure automatically.<br />
            After validating its contents, choose the file below.<br />
            Finally, send it to UA Edge Translator via OPC UA to configure the asset.
        </B>
    </p>
    <hr />
    <form method="post" enctype="multipart/form-data" asp-controller="Translator" asp-action="Generate">
        <p>
            ChatGPT prompt to automatically generate the description file for your asset (e.g. enter "Siemens Sentron PAC4200")<br />
            @Html.TextBox("chatprompt", null, new { style = "width:50%;" })
        </p>
        <p>
            <input id="chatButton" class="btn btn-primary btn_browser" type="submit" value="Generate & Download File">
        </p>
    </form>
    <hr />
    <form method="post" enctype="multipart/form-data" asp-controller="Translator" asp-action="Load">
        <p>
            <input class="btn btn-primary" type="file" name="file">
        </p>
        <hr />
        <p>
            UA Edge Translator address. Format: opc.tcp://ipaddress:port <br />
            @Html.TextBox("endpointUrl", null, new { style = "width:50%;" })
        </p>
        <p>
            <input id="connectButton" class="btn btn-primary btn_browser" type="submit" value="Send">
        </p>
        <p class="alert alert-light">
            <div class="alert alert-light" id="message">
                @Model
            </div>
        </p>
    </form>
</div>

