@using UA.MQTT.Publisher.Models

@{
    ViewData["Title"] = "Welcome to the UA-MQTT-Publisher!";
}

<h1>@ViewData["Title"]</h1>
<br />
UA-MQTT-Publisher is a cross-platform OPC UA cloud publisher reference impelementation leveraging OPC UA PubSub over MQTT, running in a Docker container or on Kubernetes and it comes with an easy-to-use web user interface.
<br />
<br />
<h2>Features</h2>
 <ul>
    <li>Cross-plattform - Runs on Windows and Linux</li>
    <li>Runs inside a Docker container</li>
    <li>UI for connecting to, browsing of, reading nodes from and publishing nodes from an OPC UA server</li>
    <li>Uses OPC UA PubSub JSON encoding</li>
    <li>Uses plain MQTT broker as publishing endpoint</li>
    <li>OPC UA Variables publishing</li>
    <li>OPC UA Alarms & Events publishing</li>
    <li>UI for displaying the list of publishes nodes</li>
    <li>UI for diaplaying diagnostic infomration</li>
    <li>UI for configuration</li>
    <li>Publishing from the cloud via a connected MQTT broker</li>
    <li>Publishing on data changes or on regular intervals</li>
    <li>Supports Microsoft OPC Publisher publishesnodes.json imput file format</li>
</ul>
