@using Opc.Ua.Cloud.Publisher.Models

@model HomeModel

@{
    ViewData["Title"] = "Welcome to the UA Cloud Publisher!";
}

<h1>@ViewData["Title"]</h1>
<br />
<p>
    Click <a href="https://microsoft.com/devicelogin" target="_blank">here</a> to use the code below for <b>Microsoft OneLake</b> authentication:<br />
    @Html.TextBox("AuthCode", @Model.AuthCode, new { style = "width:100%;background-color:grey;color:white;", @readonly = "true" })<br />
    <br />
    Note: UA Cloud Publisher will show up as Microsoft Azure Cross-platform Command Line Interface. When prompted "Are you trying to sign in to Microsoft Azure CLI?", select continue.<br />
</p>

