@using UA.MQTT.Publisher.Models

@model string[]

@{
    ViewData["Title"] = "Published OPC UA Nodes Management";
}

<h1>@ViewData["Title"]</h1>


<div class="container-fluid browser_connect_container">
    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="LoadPersisted">
        <br/>
        <p>
            <h3>Load published nodes previously published</h3>
        </p>
        UA-MQTT-Publisher automatically stores the configuration of all successfully publishes nodes, either locally or in the cloud.<br />
        <br />
        <p>
            <input class="btn btn-primary" type="submit" value="Load">
        </p>
    </form>
    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="Load">
        <br />
        <hr />
        <br />
        <p>
            <h3>Open a local publishednodes.json file</h3>
        </p>
        <p>
            <input class="btn btn-primary" type="file" name="file">
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Open">
        </p>
    </form>
        <br />
        <hr />
        <br />
        <p>
            <h3>List of Currently Published OPC UA Nodes</h3>
        </p>
        <ul>
            @foreach (var node in Model) 
            {
                <li>
                    @node
                    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="DeleteNode">
                        <input name="@node" class="btn btn-primary" type="submit" value="Delete">
                    </form>
                    <hr />
                </li>
            }
        </ul>
</div>
