@using Opc.Ua.Cloud.Publisher.Models
@using Opc.Ua.Cloud.Publisher.Pages

@model string[]

@{
    ViewData["Title"] = "Published OPC UA Nodes Management";
}

<h1>@ViewData["Title"]</h1>

<p>
    <component>@(await Html.RenderComponentAsync<Progress>(
        RenderMode.Server,
        new {
        }).ConfigureAwait(false))</component>
</p>

<div class="container-fluid browser_connect_container">
    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="LoadPersisted">
        <br/>
        <p>
            <h3>Load previously published nodes</h3>
        </p>
        UA Cloud Publisher stores its settings and the configuration of all publishes nodes.<br />
        <br />
        <p>
            <input class="btn btn-primary" type="submit" value="Load">
        </p>
    </form>
    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="Load">
        <br />
        <hr style="border-top: 1px solid blue" />
        <br />
        <p>
            <h3>Open a local publishednodes.json file</h3>
        </p>
        <p>
            <input class="btn btn-primary" type="file" name="file">
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Open">
        </p>
    </form>
        <br />
        <hr style="border-top: 1px solid blue" />
        <br />
        <p>
            <h3>List of Currently Published OPC UA Nodes</h3>
        </p>
     <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="Unpublish">
        <p>
            <input class="btn btn-primary" type="submit" value="Unpublish Everything">
        </p>
    </form>
    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="DownloadFile">
        <p>
            <input class="btn btn-primary" type="submit" value="Generate publishednodes.json file for currently published nodes">
        </p>
    </form>
    <ul>
        @foreach (var node in Model)
        {
            @if (node.StartsWith("Error"))
            {
                @node
            }
            else
            {
                <li>
                    @node
                    <form method="post" enctype="multipart/form-data" asp-controller="Published" asp-action="DeleteNode">
                        <input name="@node" class="btn btn-primary" type="submit" value="Delete">
                    </form>
                    <br />
                </li>
            }
        }
    </ul>
</div>
