@using Opc.Ua.Cloud.Publisher.Interfaces
@using Radzen.Blazor
@implements IDisposable

<RadzenTheme Theme="material" @rendermode="InteractiveAuto" />
<RadzenComponents @rendermode="InteractiveAuto" />

@inject IPublishedNodesFileHandler _publishedNodesFileHandler

@if (_progressVisible)
{
    <div class="app-card">
        <h3 class="card-title"><i class="fas fa-tasks"></i> Progress</h3>
        <RadzenProgressBar @bind-Value="_progressValue" Mode="ProgressBarMode.Determinate" />
    </div>
}

@code {

    private double _progressValue = 0;

    private bool _progressVisible = false;

    private System.Timers.Timer _timer;

    protected override void OnInitialized()
    {
        _timer = new System.Timers.Timer();
        _timer.Interval = 200;
        _timer.Elapsed += OnTimedEvent;
        _timer.AutoReset = true;
        _timer.Enabled = true;
    }

    public void Dispose()
    {
        if (_timer != null)
        {
            _timer.Enabled = false;
            _timer.Elapsed -= OnTimedEvent;
            _timer.Dispose();
            _timer = null;
        }
    }

    void OnTimedEvent(object source, System.Timers.ElapsedEventArgs e)
    {
        _progressValue = _publishedNodesFileHandler.Progress;
        _progressVisible = (_progressValue > 0 && _progressValue < 100);

        InvokeAsync(() => StateHasChanged()).ConfigureAwait(false);
    }
}
