@using Opc.Ua.Cloud.Publisher.Models
@using Opc.Ua.Cloud.Publisher.Pages

@model SessionModel

@{
    ViewData["Title"] = "Browse, Read & Select Telemetry for Publishing to the Cloud";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />

<p>
    <component>@(await Html.RenderComponentAsync<UABrowser>(
        RenderMode.Server,
        new {
            EndpointUrl = Model.EndpointUrl,
            Username = Model.UserName,
            Password = Model.Password,
            SessionId = Model.SessionId,
            StatusMessage = Model.StatusMessage
        }).ConfigureAwait(false))</component>
</p>

<p>
    <div class="row browser_browse_generate_pn_button">
        @using (Html.BeginForm("GeneratePN", "Browser"))
        {
            <input id="disconnectButton" class="btn btn-primary btn_browser" type="submit" value="Generate publishednodes.json file from all OPC UA variables in the server" />
        }
    </div>
</p>
<p>
    <div class="row browser_browse_generate_csv_button">
        @using (Html.BeginForm("GenerateCSV", "Browser"))
        {
            <input id="disconnectButton" class="btn btn-primary btn_browser" type="submit" value="Generate CSV file from all OPC UA variables in the server" />
        }
    </div>
</p>
<p>
    <div class="row browser_browse_gds_push_button">
        @using (Html.BeginForm("PushCert", "Browser"))
        {
            <input id="disconnectButton" class="btn btn-primary btn_browser" type="submit" value="Send new certificate and trust list to the server (GDS Server Push)" />
        }
    </div>
</p>
<p>
    <div class="row browser_browse_disconnect_button">
        @using (Html.BeginForm("Disconnect", "Browser"))
        {
            <input id="disconnectButton" class="btn btn-primary btn_browser" type="submit" value="Disconnect" />
        }
    </div>
</p>

