@using Opc.Ua.Cloud.Publisher.Models
@using Opc.Ua.Cloud.Publisher.Pages

@model SessionModel

@{
    ViewData["Title"] = "Browse, Read & Select Telemetry for Publishing to the Cloud";
}

<div class="page-header">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <div class="page-subtitle">Navigate the server's address space, read values, and select variables to publish.</div>
</div>

<div class="app-card">
    <h3 class="card-title"><i class="fas fa-sitemap"></i> Address Space</h3>
    <component>@(await Html.RenderComponentAsync<UABrowser>(
        RenderMode.Server,
        new
        {
            EndpointUrl = Model.EndpointUrl,
            Username = Model.UserName,
            Password = Model.Password,
            StatusMessage = Model.StatusMessage
        }).ConfigureAwait(false))</component>
</div>

<div class="app-card">
    <h3 class="card-title"><i class="fas fa-tools"></i> Session Actions</h3>

    <div class="row browser_browse_generate_pn_button">
        @using (Html.BeginForm("GeneratePN", "Browser"))
        {
            <input class="btn btn-primary" type="submit" value="Generate publishednodes.json file from all OPC UA variables in the server" />
        }
    </div>
    <div class="row browser_browse_generate_csv_button">
        @using (Html.BeginForm("GenerateCSV", "Browser"))
        {
            <input class="btn btn-primary" type="submit" value="Generate CSV file from all OPC UA variables in the server" />
        }
    </div>
    <div class="row browser_browse_gds_push_button">
        @using (Html.BeginForm("PushCert", "Browser"))
        {
            <input class="btn btn-primary" type="submit" value="Send new certificate and trust list to the server (GDS Server Push)" />
        }
    </div>
    <div class="row browser_browse_disconnect_button">
        @using (Html.BeginForm("Disconnect", "Browser"))
        {
            <input id="disconnectButton" class="btn btn-secondary" type="submit" value="Disconnect" />
        }
    </div>
</div>
