@using Opc.Ua.Cloud.Publisher.Models

@model SessionModel

@{
    ViewData["Title"] = "Connect to an OPC UA Server";
}

<h1>@ViewData["Title"]</h1>

<div class="container-fluid browser_connect_container">
    <p>
        Enter an OPC UA Server's URL to connect to (address format: opc.tcp://ipaddress:port):
    </p>
    <div class="row browser_top_container">
        <form method="post" enctype="multipart/form-data" asp-controller="Browser" asp-action="UserPassword">
            <div class="browser_connect_selection_textbox">
                <p>
                    @Html.TextBox("endpointUrl", null, new { style = "width:300%;background-color:grey;color:white;" })
                </p>
            </div>
            <div class="browser_browse_connect_button">
                <p>
                    <input id="connectButton" class="btn btn-primary btn_browser" type="submit" value="Connect">
                </p>
            </div>
            <div class="text-danger" id="message">
                <p>
                    @Model.StatusMessage
                </p>
            </div>
        </form>
    </div>
    <br />
    <hr style="border-top: 1px solid blue" />
    <br />
    <div class="row browser_select_connect_container">
        <form method="post" enctype="multipart/form-data" asp-controller="Browser" asp-action="DownloadUACert">
            <p>
                Download UA Cloud Publisher's OPC UA certificate to establish trust with the OPC UA server manually:
            </p>
            <div class="browser_browse_connect_button">
                <p>
                    <input class="btn btn-primary" type="submit" value="Download">
                </p>
            </div>
        </form>
    </div>
</div>
