@using Opc.Ua.Cloud.Publisher.Models
@using Opc.Ua.Cloud.Publisher.Pages

@{
    ViewData["Title"] = "UA Cloud Publisher";
}

<h1>@ViewData["Title"]</h1>

<p>
    <component>@(await Html.RenderComponentAsync<Chart>(
        RenderMode.Server,
        new {
        }).ConfigureAwait(false))</component>
</p>
